body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
    margin: 0;
    padding: 0
}

html {
    -webkit-text-size-adjust: none;
    word-wrap: break-word
}

h1, h2, h3 {
    font-size: 100%
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit
}

fieldset, img {
    border: 0
}

cite, em, s, i, b {
    font-style: normal
}

input, button, textarea, select {
    font-size: 100%
}

body, input, button, textarea, select, option, optgroup {
    font-size: 16px
}

a, input, textarea {
    text-decoration: none;
    outline: 0 none;
    resize: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

li, img, label, input {
    vertical-align: middle
}

:focus {
    outline: 0 none
}

body {
    background: #f6f6f6;
    width: 100%;
    height: 100%;
    position: relative
}

::-webkit-input-placeholder {
    color: #9c9c9c
}

.viewport {
    max-width: 720px;
    margin: auto;
    overflow: hidden;
}

.layout {
    padding: 16px
}

.content {
    padding-top: 20px
}

.step_title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding-bottom: 14px
}

.error_tipsp {
    display: none;
    color: red;
    font-size: 12px
}

.intro_p {
    font-size: 14px;
    color: #999;
    padding-bottom: 20px;
    line-height: 20px
}

.foo_btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px
}

.input_box {
    position: relative
}

.con_inputbox {
    height: 40px;
    line-height: 20px;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    color: #313131;
    border: 1px solid #a4a4a4;
    background: #fff
}

.input_box em.error_ico {
    position: absolute;
    top: 10px;
    display: block;
    right: 8px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: url(/css/images/error_icons.png) no-repeat;
    background-size: 20px 20px
}

.con_inputbox:focus {
    padding: 9px;
    border: 2px solid #fe610b
}

.con_p_notes {
    color: #999;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px
}

.con_p_notes a {
    color: #999;
    text-decoration: underline
}

.turn_link {
    font-size: 14px;
    color: #999;
    text-decoration: underline;
    float: right
}

.style_check {
    color: #545454;
    font-size: 16px;
    background: #e4e4e4;
    margin-bottom: 20px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    overflow: hidden
}

.style_check p {
    float: left
}

.style_check em {
    display: block;
    margin-top: 9px;
    float: right;
    width: 30px;
    height: 28px;
    background: url(/css/images/acc_ico2.png) 0 0 no-repeat;
    background-size: 28px 30px
}

.style_check label {
    display: block;
    height: 48px
}

.style_check input {
    float: right;
    vertical-align: middle;
    margin-top: 12px
}

.sc_phone, .sc_email {
    height: 48px;
    line-height: 48px;
    padding: 0 20px
}

.sc_phone:hover em, .sc_email:hover em {
    background: url(/css/images/acc_ico1.png) 0 0 no-repeat;
    background-size: 28px 30px
}

.return_link {
    display: block;
    width: 60%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    background: #ff8e4a;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #ff8e4a, #fc7831);
    background: -moz-linear-gradient(top, #ff8e4a, #fc7831);
    background: -ms-linear-gradient(top, #ff8e4a, #fc7831);
    background: linear-gradient(top, #ff8e4a, #fc7831)
}

.content {
    position: relative
}

.error_tips {
    position: absolute;
    background: #333;
    color: #fff;
    font-size: 14px;
    top: -32px;
    right: 10px
}

.et_con {
    position: relative
}

.et_con p {
    padding: 6px 10px
}

.et_con em {
    position: absolute;
    top: 26px;
    right: 10px;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    display: block;
    border-top: 6px solid #333;
    border-right: 6px solid #333;
    border-bottom: 6px dotted transparent;
    border-left: 6px dotted transparent
}

.error_tipdiv {
    position: relative;
    right: 2px;
    top: -55px;
    z-index: 20
}

.error_border {
    padding: 9px;
    border: 2px solid #fe610b
}

.line {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff
}

.tl_c {
    text-align: center
}

.mart_60 {
    margin-top: 60px
}

.yel_linear {
    background: #97c22a;
    border: 1px solid #97c22a;
    color: #fff;
    background: -webkit-linear-gradient(top, #97c22a, #62a600);
    background: -moz-linear-gradient(top, #97c22a, #62a600);
    background: -ms-linear-gradient(top, #97c22a, #62a600);
    background: linear-gradient(top, #97c22a, #62a600)
}

.gray_linear {
    background: #e7e7e7;
    border: 1px solid gray;
    color: #ffffff;
    background: -webkit-linear-gradient(top, #666666, gray);
    background: -moz-linear-gradient(top, #666666, gray);
    background: -ms-linear-gradient(top, #666666, gray);
    background: linear-gradient(top, #666666, gray)
}

.sc-wap .a_cancel {
    font-size: 12px;
    text-align: center
}

.sc-wap .a_cancel a {
    text-decoration: underline;
    color: #ff7e00
}

.sc-wap .nocenter {
    clear: both;
    text-align: left
}

em.turn_link {
    float: right;
    display: inline-block
}

em.turn_link a {
    color: #999
}

.intro_p span {
    display: inline-block;
    width: 60px;
    text-align: right
}

.intro_p a {
    margin-left: 4px;
    color: #ff7e00
}

.sac {
    text-align: center
}

.sac .foo_btn {
    width: 80px;
    float: left
}

.sac_foo {
    margin: 0 auto;
    width: 180px
}

.sf .sc_phone, .sf .sc_email {
    height: 40px;
    line-height: auto;
    padding: 10px 20px
}

.sf .style_check p {
    width: 90%;
    color: #545454;
    font-size: 14px;
    line-height: 1.5
}

.retri .apc-right {
    padding-left: 24px
}

.retri .intro_p {
    color: #333;
    padding-bottom: 4px
}

.retri .intro_p_p {
    padding-left: 24px;
    color: #999;
    font-size: 12px
}

.Error-p {
    color: red;
    font-size: 14px;
    padding: 0 16px
}

#maskLoading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 101
}

#maskLoading .loading {
    position: absolute;
    z-index: 102;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1em;
    margin-top: -0.5em;
    color: #fff;
    text-align: center
}

.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 11;
    display: none
}

.mask.gray {
    background: rgba(0, 0, 0, 0.4)
}

.mask.gray span {
    position: absolute;
    z-index: 12;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1em;
    margin-top: -0.5em;
    color: #fff;
    text-align: center
}

.maskLoad {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.05);
    z-index: 11;
    display: none
}

.maskLoad span {
    font-size: 1.25em;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    white-space: nowrap;
    padding: 1.6em 3.2em;
    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5.56em;
    margin-top: -2.18em;
    z-index: 12
}

@media only screen and (max-width: 300px) {
    body {
        font-size: 8.333px
    }

    .viewport {
        max-width: 300px
    }
}

@media only screen and (max-width: 310px) and (min-width: 300px) {
    body {
        font-size: 8.333px
    }

    .viewport {
        max-width: 300px
    }
}

@media only screen and (max-width: 320px) and (min-width: 310px) {
    body {
        font-size: 8.889px
    }

    .viewport {
        max-width: 320px
    }
}

@media only screen and (max-width: 360px) and (min-width: 320px) {
    body {
        font-size: 8.889px
    }

    .viewport {
        max-width: 360px
    }
}

@media only screen and (max-width: 360px) and (min-width: 350px) {
    body {
        font-size: 10px
    }

    .viewport {
        max-width: 360px
    }
}

@media only screen and (max-width: 480px) and (min-width: 360px) {
    body {
        font-size: 10px
    }

    .viewport {
        max-width: 480px
    }
}

@media only screen and (max-width: 480px) and (min-width: 470px) {
    body {
        font-size: 13.333px
    }

    .viewport {
        max-width: 480px
    }
}

@media only screen and (max-width: 560px) and (min-width: 480px) {
    body {
        font-size: 13.333px
    }

    .viewport {
        max-width: 560px
    }
}

@media only screen and (max-width: 570px) and (min-width: 560px) {
    body {
        font-size: 15.833px
    }

    .viewport {
        max-width: 570px
    }
}

@media only screen and (max-width: 640px) and (min-width: 570px) {
    body {
        font-size: 15.833px
    }

    .viewport {
        max-width: 640px
    }
}

@media only screen and (max-width: 640px) and (min-width: 630px) {
    body {
        font-size: 17.778px
    }

    .viewport {
        max-width: 640px
    }
}

@media only screen and (max-width: 710px) and (min-width: 640px) {
    body {
        font-size: 17.778px
    }

    .viewport {
        max-width: 710px
    }
}

.input_box em.right_ico{
    background: rgba(0, 0, 0, 0) url("../images/checkbox_bg02.png") no-repeat scroll 0 0 / 20px 20px;
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 20px;
}
